* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* ## Colors */
  /* ### Primary */
  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
  /* ### Neutral */
  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-color: hsl(202, 86%, 99%);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
}
.card-containers {
  width: 450px;
  border: 2px solid black;
}
.mortgage-card {
  background-color: gold;
}

.mortgage-heading {
  background-color: yellow;
  display: flex;
  justify-content: space-between;
}

.input-container {
  background-color: aquamarine;
  display: flex;
}

.term-and-intrest-container {
  background-color: pink;
  display: flex;
}
